.container {
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    
}

.button {
    font-size: 2em;
}

.labelnum {
    font-weight: 700;
    font-size: 2em;
}

.labelciudad {
    font-size: 1.6em;
    text-align: right;
    
}

.divtext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.modal{
    
}