* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* text decoration no ta haciendo na */
html{
    text-decoration: none; 
    

}
/* text decoration no ta haciendo na */
body{
    text-decoration: none;

}
