* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* text decoration no ta haciendo na */

/* font size 65.25% = 10 px, 1 em = 10px */

html{
    text-decoration: none; 
    font-size: 65.25%; 

    

}
/* text decoration no ta haciendo na */
body{
    text-decoration: none;

}
